<!DOCTYPE html>
<html>
<head>
    <title>Stock List</title>
</head>
<body>
    <a href="{% url 'add-investment' %}">Add Investment</a>
    {% for stock in stocks %}
        <h2>{{ stock.ticker }}</h2>
        <a href="{% url 'stock_plot' stock.ticker %}">Plot Close Price</a>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <th>Date</th>
                <th>Close Price</th>
                <th>Volume</th>
            </tr>
            {% for price in stock.info.all %}
                <tr>
                    <td>{{ price.date }}</td>
                    <td>{{ price.close_price }}</td>
                    <td>{{ price.volume }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</body> 
</html>
    
    







